  <div class="task-content">
    <div>
      <mat-card-content class="task-decription">
        <span matLine>{{task.id}}</span>
      </mat-card-content>   
    </div>
    <div>
    <mat-card-title class="task-header">
      <span matLine>{{task.name}}</span>
    </mat-card-title>
    <mat-card-content class="task-decription">
      <span matLine>{{task.description}}</span>
    </mat-card-content>
  </div>
    <mat-card-actions class="task-controls">
      <button class="button" mat-fab color="primary" (click)="removeTask()">
        <mat-icon>delete</mat-icon>
      </button>
      <button class="button" mat-fab color="primary" (click)="edittask()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </div>