<div class="content">
  <div><mat-form-field appearance="outline">
    <mat-label>Enter Task</mat-label>
    <input   matInput placeholder="Placeholder" [(ngModel)]="newTask" >
  </mat-form-field>
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="addTasks()">
    <mat-icon>add</mat-icon>
  </button></div>
<mat-list role="list">
  <mat-list-item *ngFor="let item of items; let i=index"  role="listitem">
    <span>{{i}}.{{item}}</span>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="removeTask($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
</div>