<form [formGroup]="taskFb">
  <h1 mat-dialog-title>Edit</h1>
  <div mat-dialog-content>
    <p>Edit data</p>
    <mat-form-field>
      <mat-label>Name Task</mat-label>
      <input matInput formControlName="editTitleTask">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description Task</mat-label>
      <textarea matInput formControlName="editDescriptionTask"></textarea>
    </mat-form-field>
   
    <div formArrayName="groupArray">
    <div *ngFor="let control of formGrouparray['controls']; index as i" [formGroupName]="i">
      <mat-form-field>
        <mat-label>Control</mat-label>
        <input matInput formControlName="first" />
      </mat-form-field>
      <div class="alert-danger" *ngIf="control.controls.first.errors?.required&&control.controls.first.touched">заполни поле пожалста</div>
      <mat-form-field>
        <mat-label>Control </mat-label>
        <input matInput formControlName="second" />
      </mat-form-field>
      <div class="alert-danger" *ngIf="control.controls.second.errors?.required&&control.controls.second.touched">заполни поле пожалста</div>
      <button class="button" (click)="delInput(i)" >X</button>
    </div>
    <span></span> 
  </div>
    <div>
      <button mat-raised-button class="button" (click)="addInput()">MOREE</button>
    </div>
    <div>
      <button mat-raised-button class="button" (click)="addGroupInput()">MOREMOREE</button>
    </div>
  </div>
    <!-- <span>{{formarr.controls| json}}</span> -->
  
  <div mat-dialog-actions>
    <button mat-raised-button (click)="dialogRef.close()">No Thanks</button>
    <button mat-raised-button (click)="onClick()" [disabled]="!taskFb.valid">Ok</button>

  </div>
</form>