<form [formGroup]="taskFormGroup">
  <h1 mat-dialog-title>Edit</h1>
  <div mat-dialog-content>
    <p>Edit data</p>
    <mat-form-field>
      <mat-label>Name Task</mat-label>
      <input matInput formControlName="editTitleTask" #edit>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description Task</mat-label>
      <textarea matInput formControlName="editDescriptionTask"></textarea>
    </mat-form-field>

    <div *ngIf="formGroupArray['controls']" formArrayName="groupArray">
      <div *ngFor="let group of formGroupArray['controls']; index as i" [formGroupName]="i">
        <mat-form-field>
          <mat-label>Control</mat-label>
          <input matInput formControlName="firstControl"/>
        </mat-form-field>
        <ng-container
          *ngTemplateOutlet="validationMessageTemplate; context:{control:group.controls.firstControl}"></ng-container>
        <mat-form-field>
          <mat-label>Control</mat-label>
          <input matInput formControlName="secondControl"/>
        </mat-form-field>
        <ng-container
          *ngTemplateOutlet="validationMessageTemplate; context:{control:group.controls.secondControl}"></ng-container>
        <button class="button" (click)="deleteInput(i)">X</button>
      </div>
    </div>
    <div>
      <button mat-raised-button class="button" (click)="addGroupInput()">MORE MOREE</button>
    </div>

    <button mat-raised-button (click)="dialogRef.close()">No Thanks</button>
    <button mat-raised-button (click)="finishDialog()" [disabled]="!taskFormGroup.valid">Ok</button>

  </div>
</form>


<ng-template #validationMessageTemplate let-control="control" >
  <div class="alert-danger" *ngIf="control?.errors?.required">{{validationMessage.required}}</div>
  <div class="alert-danger" *ngIf="control?.errors?.minLength">{{validationMessage.minLength}}</div>
  <div class="alert-danger" *ngIf="control?.errors?.pattern">{{validationMessage.pattern}}</div>
  </ng-template>
