<form [formGroup]="taskFb">
  <h1 mat-dialog-title>Edit</h1>
  <div mat-dialog-content>
    <p>Edit data</p>
    <mat-form-field>
      <mat-label>Name Task</mat-label>
      <input matInput formControlName="editNameTask">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description Task</mat-label>
      <textarea matInput formControlName="editDescriptionTask"></textarea>
    </mat-form-field>
    <div formArrayName="inputs">
    <div *ngFor="let control of this.taskFb.controls['inputs']['controls']; index as i">
      <mat-form-field >
        <mat-label>Control </mat-label>
        <input matInput formControlName="{{i}}" />
      </mat-form-field>
    </div>
  </div>
    <!-- <span>{{formarr.controls| json}}</span> -->
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">No Thanks</button>
    <button mat-button (click)="onClick()" [disabled]="!taskFb.valid">Ok</button>
    <button mat-button (click)="addInput()">MOREE</button>
  </div>
</form>